#ignore all pycache files in the project
__pycache__

#ignore vscode setting files
.vscode

#ignore ipython notebook checkpoints
.ipynb_checkpoints

#ignore dist folder
dist

#ignore egg info
.egg-info
